<header class='header-main'>
  <%= link_to_back search_pages_path %>
  <ul class='nav'>
    <%= page_actions_tag(@page, @revision) %>
  </ul>
  <div class="header-actions">
    <%= button_to_save %>
  </div>
</header>