$white: #FFF;
$light_blue: #7ebde5;
$light_grey: #fafbfd;
$grey: #EEEEEE;

$red: #a72622;
$orange: #ed661d;
$yellow: #edb12d;
$green: #00ad61;
$teal: #008896;
$blue: $teal;
$black: #2b2b2b;
$beige: #f3e6ce;

$bg-devised: $black;
$bg-input: $beige;
$bg-input-login: $beige;

$font-muted: $grey;
$font-input: $black;
$font-input-login: $black;