$white: #FFF;
$light_blue: #7ebde5;
$light_grey: #ecf0f1;
$grey: #575757;

$red: #e02222;
$orange: #ed661d;
$yellow: #edb12d;
$green: #00ad61;
$teal: #28b779;
$black: #2b2b2b;
$beige: #f3e6ce;
$blue: #0362fd;

$success-bg: #18bc9c;
$success-border: $success-bg;
$success-hover-bg: #128f76;
$success-hover-border: #11866f;

$warning-bg: #f39c12;
$warning-border: $warning-bg;
$warning-hover-bg: #d62c1a;
$warning-hover-border: #cd2a19;

$danger-bg: #e74c3c;
$danger-border: $danger-bg;
$danger-hover-bg: #c87f0a;
$danger-hover-border: #be780a;

$info-bg: #3498db;
$info-border: $info-bg;
$info-hover-bg: #217dbb;
$info-hover-border: #2077b2;

$default-bg: #95a5a6;
$default-border: $default-bg;
$default-hover-bg: #798d8f;
$default-hover-border: #74898a;

$primary-bg: #2c3e50;
$primary-border: $primary-bg;
$primary-hover-bg: #1a242f;
$primary-hover-border: #161f29;

$bg-header: #28b779;
$bg-header-active: #16CA7C;
$bg-header-main: #f5f5f5;
$bg-header-main-rgba: rgba(245,245,245,0.9);
$bg-sidebar: $bg-header-main;
$bg-sidebar-rgba: $bg-header-main-rgba;
$bg-sidebar-navlist: $white;
$bg-sidebar-active: #2862a1;
$bg-devised: $black;
$bg-input: $white;
$bg-input-login: $white;
$bg-footer: $white;
$bg-sidebar: #fafafa;

$btn-primary: #2862a1;
$btn-inverse: #575757;

$font: $black;
$font-muted: $grey;
$font-link: $black;
$font-input: $black;
$font-input-login: $black;
$font-header: #125437;

$border-header: #28888f;
$border-header-main: darken($light_grey, 5%);
$border-input: darken($light_grey, 5%);