<section id="main">
  <div class='container'>

    <div class="row">

      <div id='content' class="col-md-9">
        <%= @page.text.html_safe %>
      </div>

      <aside id="sidebar-right" class="col-md-3">
        <% @page.widgets.each do |widget| %>
          <div class="widget">
            <h4><%= widget.title %></h4>
            <p>
              <%= widget.text.html_safe %>
            </p>
          </div>
        <% end -%>
      </aside>

    </div>

  </div>
</section>