#edit_page_panel {
	.thumbnails {
		height: 440px;
		overflow: hidden;
		position: relative;
		li.span4 {
			position: absolute;
			width: 27%;
			left: -31.623931624%;
			top: 63.247863248%%;
		}
	}
}