//  Login Centered Box
.center-box {
    width: 40%;
    margin: 10% auto 0;
    
    .logo {
        text-align: center;
        padding: 10px 10px 20px;
    }
    
}

// Tables
td:first-child {width: 20%;}
td.labels {width: 72px; padding: 4px; text-align: center;}
td.actions {
    width: 80px;
    padding: 4px;
    div.btn-group {float: right;}
}

th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
}

th .asc {background-image: url('up_arrow.gif');}
th .desc {background-image: url('down_arrow.gif');}

table tr.disabled td {text-decoration: line-through;}

// Bootstrap Overrides
body {padding-top: 80px;}
.main-header .brand img {height: 30px;}
.navbar .nav > li > a {line-height: 29px;}
.dropdown .caret {margin-top: 13px;}
.main-header .brand img {height: 20px;}


// Layout
#slides .new a {padding: 35px;}
.light {color: #676767; }
fieldset.max-length .form-inputs { input, textarea {width: 95%;}}
#footer {padding: 40px 0;}

.open .dropdown-menu li > a:hover > [class^="icon-"],
.open .dropdown-menu li > a:focus > [class^="icon-"],
.open .dropdown-submenu:hover > a > [class^="icon-"],
.nav-list > li.active > a > [class^="icon-"] {background-image: none;}