#tags {
  height: 400px;
  overflow: auto;
  position: relative;
  .nav.nav-list {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.gallery {
  .thumbnails .active {border: 1px solid #08C;}
}

.list-tags {
  margin: 5px 0;
  .form {
    form, input {margin: 0;}
  }
}

.media-link {
  display: block;
  background: asset-data-url('georgia/transparent.jpg') repeat scroll 0 0 transparent;
  width: 160px;
  height: 120px;
}

.media-image {
  width: 100%;
}