#menus {
  .column {
    margin: 18px 0;
    min-height: 300px;

    .portlet {
      display: block;
      background-color: #FFF;
      border-radius: 4px;
      border: 1px solid #e2e2e2;
      padding: 0 5px;
      .handle {
        cursor: move;
      }
    }
  }

  .link {
    background-color: #EEE;
    border-top: 1px solid #DDD;
    padding: 0 10px;
  }

  #pages {
    height: 400px;
    overflow-y: auto;

    h5 {
      margin-top: 2px;
    }
  }

  #menu_panel > .row-fluid > .span3 {position: relative;}
  #menu_panel > .row-fluid > .span3 > .control-group.check_boxes {margin-bottom: 0;}
  .bb-check, .bb-uncheck {line-height: 2em;}


}