#revisions .revision{
  padding: 5px;
  border-bottom: 1px solid #EEE;
  // &.current {background-color: #DFF0D8;}
  &.current {background-color: #D9EDF7;}
  .number {
    font-size: 1.3em;
    font-weight: bold;
    color: #08C;
  }
}

ins.differ {
  color: green;
}
del.differ {
  color: red;
}