#widgets {
  .ui-draggable {
    cursor: move;
  }

  #widgets_list {
    margin: 0;
  }

  .widget {
    float: left;
    position:relative;
    width: 70px;
    height: 100px;
    padding:1em 1.5em;
    margin: 1em 0.5em 1em 0;
    color:#fff;
    background: $blue;
    overflow:hidden;
    border-radius: 4px;
  }

  .ui_association_list {

    &.ui-state-default {
      padding: 5px 5px 80px 5px;
      background: none;
      border: 2px solid #999;
      border-radius: 4px;
    }

    &.ui-state-hover {
      background-color: $green;
    }

    .ui_association {
      padding: 0.5em 0.75em;
      margin: 0 0 5px;
      position: relative;
      color: #FFF;
      background-color: $blue;
      border-radius: 4px;
    }
  }

  a.remove_icon, a.edit_icon {
    position: absolute;
    right: 10px;
    bottom: 4px;
    color: #FFF;
  }
  a.edit_icon {right: 30px;}
}