<div id='<%= template %>' class="template<%= ' active' if @page.template == template %>">
	<header class='row-fluid'><div class='span12'><%= template %></div></header>
	<div id='main' class='row-fluid'>
		<div class='span12'></div>
	</div>
	<footer class='row-fluid'><div class='span12'></div></footer>
</div>