<div id='sidebar-right' class='template<%= ' active' if @revision.template == 'sidebar-right' %>'>
		<header class='row-fluid'><div class='span12'>Sidebar-Right</div></header>
		<div class='row-fluid'>
			<div id='main' class='span8'></div>
			<div id='sidebar' class='span4'></div>
		</div>
		<footer class='row-fluid'>
			<div class='span12'></div>
		</footer>
	</div>