<div id='sidebar-left' class='template<%= ' active' if @revision.template == 'sidebar-left' %>'>
	<header class='row-fluid'><div class='span12'>Sidebar-Left</div></header>
	<div class='row-fluid'>
		<div id='sidebar' class='span4'></div>
		<div id='main' class='span8'></div>
	</div>
	<footer class='row-fluid'>
		<div class='span12'></div>
	</footer>
</div>