.bundle/
*.gem
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/
spec/dummy/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/system/
coverage/
tmp/
spec/dummy/solr
spec/dummy/config/initializers/carrierwave.rb
spec/dummy/db/migrate