<h1 class="page-header">
  Admins
</h1>

<table class="table table-hover">
  <thead>
  <th>Email</th>
  <th>Created</th>
  <th>Roles</th>
  </thead>
  <tbody>
    <% if @admins and @admins.any? %>
      <%= render @admins %>
    <% else %>
    <tr>
      <td colspan="6">
        There are currently no admins.
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admins %>

<%= link_to "Add Admin", new_admin_path, class: 'btn' %>