<fieldset>
  <div class="fieldset-help">
    <legend>Slides</legend>
    <p>
      <%= link_to "#{icon_tag 'plus'} Add slide".html_safe, '#', class: 'btn' %>
    </p>
  </div>
  <div class="control-group">
    <%= f.simple_fields_for :slides, @revision.slides do |s| %>
      <%= s.simple_fields_for :contents, s.object.content do |c| %>
        <%= render partial: 'georgia/revisions/fields/slide', locals: {f: c} %>
      <% end -%>
    <% end -%>
  </div>
</fieldset>