<fieldset>
  <div class="fieldset-help">
    <legend>Template</legend>
  </div>
  <div class="fieldset-fields">
    <%= f.input :template, collection: Georgia.templates, label: false %>
  </div>
</fieldset>