<div class="control-group input-horizontal">
  <label><%= ui_section.name %></label>
  <div class="widgets">
    <ul class="nav-list js-sortable">
      <%= render partial: 'georgia/widgets/portlet', collection: ui_section.widgets.for_revision(@revision), as: :widget %>
    </ul>
    <%= select_tag :widget, widgets_collection, prompt: 'Select a widget' %>
    <%= link_to "Add", '#', class: 'btn' %>
  </div>
</div>