<fieldset>
  <div class="fieldset-help">
    <legend>Widgets</legend>
    <p class='hint'>
      <%= link_to "#{icon_tag('cogs')} Manage Widgets".html_safe, widgets_path, class: 'btn btn-inverse' %>
    </p>
  </div>
  <div class="fieldset-fields">
    <%= render partial: 'georgia/revisions/fields/ui_section', collection: @ui_sections, as: :ui_section, locals: {f: f} %>
  </div>
</fieldset>