<div class="login-form">

  <h1 class='login-logo page-header'>Georgia</h1>

  <%= simple_form_for(resource, as: resource_name, url: georgia.user_session_path, html: {class: 'form-horizontal'}) do |f| %>
    <div class="form-group">
      <%= f.input_field :email, placeholder: 'Email', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input_field :password, placeholder: 'Password', class: 'form-control' %>
    </div>
    <%= f.submit 'Log In', class: 'btn' %>
  <% end %>
</div>