<div class="well">
  <p>You are looking at a past revision. Updating this content will not change anything on your website.</p>
  <p>
    <%= link_to('Edit current revision', [:edit, @page, @page.current_revision], class: 'btn btn-primary') %>
  </p>
</div>