<div class="alert alert-warning">
  <p><%= icon_tag('warning') %> You do not have rights to edit this revision.</p>
  <p>
    <%= link_to('Start a new draft', [:draft, page, revision], class: 'btn btn-primary') %>
  </p>
</div>