<div class="alert alert-warning">
  <p>You are looking at a past revision. Updating this content will not change anything on your website.</p>
  <p><%= link_to('Start new draft from this revision', [:draft, @page, @revision], class: 'btn btn-primary') %></p>
</div>