<%= content_tag_for :div, menu_item, class: 'portlet' do %>
<h4><small class='handle'><%= icon_tag 'icon-th' %></small> <%= menu_item.page.title %> <small><%= menu_item.page.url %></small></h4>
<% end -%>