body.edit {
  .body-main {
    width: 80%;
    position: relative;
  }
}

fieldset {
  .fieldset-help {
    width: 200px;
    float: left;
    padding-right: 20px;
  }
  .fieldset-fields {
    padding-left: 200px;
  }
  legend { margin: 0 0 10px 0; }
  fieldset > .control-group {
    margin-left: 200px;
    margin-bottom: 20px;
  }
  .hint {
    color: #999;
    font-variant: italic;
  }
  input.string, textarea, .select2-container {
    width: 100%;
  }
  input.string, textarea, select {
    border: 1px solid $border-input;
    border-radius: 0;
  }
}