#main {
  margin: 150px 20px 0 0;
  padding-left: ($width-sidebar+20);
  padding-bottom: ($height-footer+20);
  padding-right: $padding-main;
  position: relative;
  width: 100%;
  .header-main {
    position: fixed;
    top: 50px;
    left: 0;
    padding-left: ($width-sidebar+20);
    padding-right: $padding-main;
    padding-top: 20px;
    height: 75px;
    width: 100%;
    z-index: $z-header-main;
    background-color: $white;
    border-bottom: 1px solid $border-header-main;
    background-color: $bg-header-main;
  }
  .header-checkbox {
    @include span-columns(1);
  }
  .header-actions {
    @include span-columns(9);
  }
  .header-pagination {
    @include span-columns(2);
    text-align: right;
  }
}