.table-results {
  .checkbox {
    width: 20px;
    text-align: center;
  }
  .timestamp {
    @extend .nowrap;
    width: 100px;
    text-align: right;
  }
  td {
    padding: 2px 4px;
  }
  .small {
    @extend .nowrap;
    width: 70px;
  }
  .tiny {
    @extend .nowrap;
    width: 25px;
  }
  .thumbnail {
    width: 65px;
  }
}