.table-results {
  .checkbox {
    width: 35px;
    text-align: center;
  }
  .timestamp {
    @extend .nowrap;
    width: 100px;
    text-align: right;
  }
  tr:first-child td {
    border-top: 1px solid #ddd;
  }
  th { text-align: left; }
  td, th {
    background-color: #f9f9f9;
    padding: 10px 4px;
    border-bottom: 1px solid #ddd;
  }
  .small {
    @extend .nowrap;
    width: 70px;
  }
  .tiny {
    @extend .nowrap;
    width: 25px;
  }
  .thumbnail {
    width: 65px;
  }
  a {
    color: $font;
  }
}