.revision {
  @include clearfix;
  margin: 10px 0;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0;
}

.header-title {
  h1 {
    display: inline;
    margin-top: 0;
  }
  i {display: none;}
  input {display: none;}
}