.revision {
  @include clearfix;
  margin: 10px 0;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0;
}
.js-revision-form .header-title {
  i, input {display: none;}
}
.header-title a {
  max-width: 830px;
  @extend .ellipsis;
}
