#sidebar {
  .nav-list {
    background-color: $bg-sidebar-navlist;
    .sidebar-link-name {
      display: inline-block;
    }
    li {
      a {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #e2e2e2;
        font-weight: 400;
        padding: 12px 15px 10px;
        margin: 0;
        color: $font-link;
        &:hover {
          background-color: #eee;
          text-decoration: none;
          .icon { color: #a2a2a2; }
        }
      }
    }
    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
      color: #ffffff;
      background-color: #2c3e50;
    }
  }
  .submenu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    .title { padding-left: 35px; }
    li a {
      padding: 6px 15px 5px 25px;
      h5 {margin: 0;}
    }
    li.active > a {
      background-color: #eee;
      color: $font-link;
    }
  }
  .icon {
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    width: 1.25em;
    margin-right: 5px;
    color: #bbb;
  }
  .arrow {
    float: right;
    line-height: 35px;
  }
}