.slide {
  @include row;
  position: relative;
  padding: 20px;
  border: 1px solid #DDD;
  margin-bottom: 10px;

  .slide-image {
    @include span-columns(3);
  }
  .slide-text {
    @include span-columns(9);
  }
}