<div class="jumbotron">
  <div class="container">
  <h1>Georgia CMS <small><%= Georgia::VERSION %></small></h1>
  <p>Compatibility & Extensibility</p>
  <p>
    Georgia is <%= link_to "Motion Eleven", "http://www.motioneleven.com/" %>'s CMS engine for Ruby on Rails applications. Key features include user authentication, widgets, slideshows, publishing system, revisioning and more.
  </p>
  <p><%= link_to 'Get started', search_pages_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>