<div>
  <span class='pull-right'>
    <a href='#' class='bb-edit'><i class='icon-edit icon-white'></i></a>
    <a href='#' class='bb-remove'><i class='icon-trash icon-white'></i></a>
  </span>
  <small class="handle"><i class="icon-th">&nbsp;</i></small>
  <strong>{{{title}}}</strong><br />
  <small class='muted'>{{text}}</small>
</div>