<div>
  <span class="pull-right">
    <a href='#' class='bb-edit'><i class='icon-edit icon-white'></i></a>
    <a href='#' class='bb-remove'><i class='icon-trash icon-white'></i></a>
  </span>
  <span class="disclose pull-left"><span></span></span>
  <span class="handle pull-left"><i class="icon-th">&nbsp;</i></span>
  <span class='text'>
    <strong>{{{title}}}</strong> <small class='muted'>{{text}}</small>
  </span>
</div>