<div class='row-fluid'>
  <div class='span1'>
    <small class="handle"><i class="icon-th"></i></small>
  </div>
  <div class='span10'>
    <strong>{{{title}}}</strong><br />
    <small class='muted'>{{text}}</small>
  </div>
  <div class='span1'>
    <a href='#' class='bb-edit'><i class='icon-edit icon-white'></i></a>
    <a href='#' class='bb-remove'><i class='icon-trash icon-white'></i></a>
  </div>
</div>