<%= render 'header' %>
<section class="body-main">

  <table class="table-results">
    <thead>
      <th class='checkbox'>
        <%= check_box_tag :selected %>
      </th>
      <th>Title</th>
      <th></th>
      <th>Template</th>
      <th></th>
    </thead>
    <tbody>
      <% if @pages and @pages.any? %>
        <%= render partial: 'georgia/pages/page', collection: @pages, as: :page %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no <%= instance_name.pluralize %>.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>