.btn {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  // Default
  color: $btn-color;
  background-color: $btn-bg;
  border-color: $btn-border;

  &:hover {
    text-decoration: none;
    background-color: $btn-bg-hover;
  }
}

.btn-file-upload {
  position: relative;
  overflow: hidden;
}

.btn-back {
  @extend .btn;
  padding: 6px 20px;
  float: left;
  margin-right: 100px;
}

.btn-close {
  position: absolute; // needs parent to be relative
  z-index: $z-btn--close;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 5px;
  color: $white;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $light_grey;
  }
  &:visited {
    color: $white;
  }
}

.btn-pagination {
  @extend .btn;
  padding: 5px 10px;
}

.btn-save {
  @extend .btn;
  background-color: $btn-save-bg;
  border-color: $btn-save-border;
  &:hover { background-color: $btn-save-bg-hover; }
}

.btn-delete {
  @extend .btn;
  background-color: $btn-delete-bg;
  border-color: $btn-delete-border;
  &:hover { background-color: $btn-delete-bg-hover; }
}

.btn-primary {
  @extend .btn;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
  &:hover { background-color: $btn-primary-bg-hover; }
}

.btn-action {
  @extend .btn;
  margin-right: 8px;
  background-color: $btn-action-bg;
  border-color: $btn-action-border;
  &:hover { background-color: $btn-action-bg-hover; }
}