.btn-back {
  color: $white;
  background-color: $grey;
  border: 1px solid $grey;
  &:hover {background-color: darken($grey, 5%);}
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn-file-upload {
  @extend .btn;
  @extend .btn-success;
  position: relative;
  overflow: hidden;
  margin-right: 100px;
}

.btn-close {
  position: absolute; // needs parent to be relative
  width: 25px;
  height: 25px;
  top: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  color: #cbcbcb;
  &:hover {
    color: #e2e2e2;
    text-decoration: none;
  }
}

.btn-pagination {
  @extend .btn;
  padding: 5px 10px;
}

.btn--jumbo {
  padding: 10px 40px;
  font-size: 1.4em;
}