fieldset {
  border: 0;
  margin-bottom: 20px;
}

label, legend {
  color: #000;
  font-weight: bold;
}

.input-horizontal {
  label {
    width: 100px;
    padding-right: 10px;
    float: left;
    text-align: right;
  }
}