.portlet {
  @include clearfix;

  .handle {
    cursor: pointer;
    float: left;
    margin: 0 15px;
  }
  .actions {
    float: right;
  }
}


.links .portlet {
  .actions a {
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
    height: 35px;
    width: 35px;
    float: left;
  }
}

.widgets .portlet {
  padding: 0 10px 10px 0;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 10px;
  .title { margin: 0; }
}