table {
  width: 100%;
  max-width: 100%;

  tr.is-selected td {
    background-color: $bg-header-main;
  }
  td, th {
    &.status {
      width: 1px;
      padding: 0 !important;
      margin: 0;
    }
  }
}