.tag {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,.2);

  // default
  color: #647f9e;
  background-color: #e9f3ff;

  a {
    color: #647f9e;
    text-decoration: none;
    &:hover {text-decoration: none;}
  }
}