<%= form_for :search, url: search_pages_url, method: :get do |f| %>
<div class="input-append search">
  <%= text_field_tag :query, nil, class: 'input-medium' %>
  <button class="btn"><%= icon_tag('icon-search') %></button>
</div>
<% end -%>