<%= portlet_tag(widget) do |p| %>
  <%= widget.title %>
  <div class="actions">
    <%= link_to icon_tag('pencil'), '#', class: 'btn-action' %>
    <%= link_to icon_tag('trash-o'), '#', class: 'btn-delete' %>
  </div>
<% end -%>