<% if @widget.valid? %>
  window.location.href = '<%= georgia.widgets_path %>';
<% else -%>
  $('#widget_form .modal-body').prepend("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>×</button>You need a valid widget name.</div>");
<% end %>
