<header class='header-main'>
  <div class="header-gutter">
    <%= link_to_back %>
  </div>
  <div class="header-title">
    <h1>Widgets</h1>
  </div>
</header>

<section class="body-main">

  <% if @widgets and @widgets.any? %>
    <% @widgets.each do |widget_row| %>
      <div class="row">
        <%= render widget_row %>
      </div>
    <% end -%>
  <% else -%>
    <h1>Yikes! There are 0 widgets.</h1>
    <%= link_to "Get Started", '#', class: 'btn btn-primary btn--jumbo', data: {toggle: 'modal', target: '#widget_form'} %>
  <% end -%>

</section>