<header class='header-main'>
  <div class="header-gutter">
    <%= link_to_back users_path %>
  </div>
  <div class="header-title">
    <h1>User Permissions</h1>
  </div>
  <div class="header-actions">
    <%= link_to "#{icon_tag 'plus'} Add User".html_safe, new_user_path, class: 'btn btn-primary' %>
  </div>
</header>

<section class="body-main">
  <%= permissions_view %>
</section>