<header class='header-main'>
  <span class="btn btn-success btn-file-upload">
    <span class='btn-file-upload-text'>
      <%= icon_tag 'plus' %> Select files...
    </span>
    <input class='input-file-upload js-file-upload' type="file" name="assets[]" data-url="<%= media_index_path %>" multiple>
  </span>
  <%= link_to "#{icon_tag('download')} Download".html_safe, '#', class: 'btn', target: '_blank' %>
  <%= link_to "#{icon_tag('trash')} Delete".html_safe, '#', method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}, remote: true, class: 'btn btn-danger' if can? :destroy, Ckeditor::Asset %>
</header>