<div class="nav-tags">
  <div class="btn-group">
    <div class="btn <%= 'active' if current_page? media_index_url %>">
      <%= link_to 'All tags', media_index_url %>
    </div>
    <%= render @tags %>
  </div>
</div>