<% if @picture.destroyed? %>
$("#assets #asset_<%= @picture.id %>").remove();
<% else %>
$("#new_picture").prepend("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>×</button>Couldn't delete image.</div>");
<% end %>