
<%= render 'header' %>

<section class="body-main">

  <table class="table-results">
    <tbody>
      <% if @assets and @assets.any? %>
        <%= render @assets %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no assets.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>