<%= render 'header' %>

<section class="body-main">

  <table class="table-results assets js-checkboxable">
    <thead>
      <th class='checkbox-cell'>
        <%= checkboxable_all_tag :assets %>
      </th>
      <th colspan='7'>
        <%= pagination_tag(self, @search) %>
      </th>
    </thead>
    <tbody>
      <% if @assets and @assets.any? %>
        <%= render @assets %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no assets.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>