<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <% if @search %>
      <li class="nav-header">Extension</li>
      <%= render partial: 'georgia/facets/facet', collection: @search.facet(:extension).rows, as: :facet, locals: {filter: :e} %>
      <li class="nav-header">File Size</li>
      <%= render partial: 'georgia/facets/facet', collection: @search.facet(:size).rows, as: :facet, locals: {filter: :s} %>
      <li class="nav-header">Tags</li>
      <%= render partial: 'georgia/facets/facet', collection: @search.facet(:tags).rows, as: :facet, locals: {filter: :tg, multiple: true} %>
    <% end -%>
  </ul>
</div>
