// Overrides list of page results on menu search
#page_results .nav-list {
  padding: 0;
  margin: 0;
  > li > a {
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #eee;
    border-radius: 4px;
  }
}