<footer id='footer'>
  <div class="container-fluid">
    &copy; <%= Time.new.year %> -
    <%= link_to 'Georgia', 'http://georgia.motioneleven.com' %> is developed and maintained by
    <%= link_to 'Motion Eleven', 'http://www.motioneleven.com' %>
  </div>
</footer>