<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <% if @search %>
      <li class="nav-header">Spam</li>
      <% @search.facet(:spam).rows.each do |facet| %>
        <%= render partial: 'georgia/facets/facet', locals: {facet: facet, filter: :s} %>
      <% end -%>
    <% end -%>
  </ul>
</div>
