$('input, textarea').closest('.control-group').removeClass('error');
<% @message.errors.each do |error, message| %>
$('#message_<%= error.to_s %>').closest('.control-group').addClass('error');
<% end %>
<% if @message.valid? %>
$('form')[0].reset();
$('form').prepend("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>Thank you! We will get back to you shortly.</div>");
<% else -%>
$('form').prepend("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>×</button>Oups. Something went wrong.</div>");
<% end %>