<%= render 'header' %>

<section class="body-main">

  <table class="table-results js-checkboxable">
    <thead>
      <th class='checkbox'>
        <%= checkboxable_all_tag :messages %>
      </th>
      <th>Name</th>
      <th>Message</th>
      <th colspan='3'>
        <%= pagination_tag(self, @search) %>
      </th>
    </thead>
    <tbody>
      <% if @messages and @messages.any? %>
        <%= render @messages %>
      <% else %>
      <tr>
        <td colspan="6">
          There are currently no messages.
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</section>
