<%= render 'header' %>

<section class="body-main">

  <table class="table-results">
    <tbody>
      <% if @messages and @messages.any? %>
        <%= render @messages %>
      <% else %>
        <tr>
          <td colspan="6">
            There are currently no messages.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>
